<header class="intro-header" style="background-image: url('<%= asset_path('home-bg') %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Relay</h1>
					<hr class="small">
					<span class="subheading">우리의 이야기를 잇다</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<% @stories.each do |story| %>
			<%= link_to story do %>
				<div class="col-xs-6 col-md-4">
				    <div class="thumbnail">
				      <%= image_tag(story.image_url(:thumb)) %>
				      <div class="caption">
				        <h3><%= story.title %></h3>
				      </div>
				    </div>
				</div>
			<% end %>
		<% end %>
		</div>
	<%= link_to 'New Story', new_story_path, class: "btn btn-default" %>
	<hr>
</div>

