<header class="intro-header" style="background-image: url('<%= asset_path('home-bg') %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>New Story</h1>
					<hr class="small">
					<span class="subheading">새로운 스토리를 시작해보세요!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">

	<%= render 'form' %>

	<%= link_to 'Back', stories_path %>
</div>