<header class="intro-header" style="background-image: url('<%= @story.image_url %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @story.title %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<p>
		<%= simple_format @story.content %>
	</p>
	<% @story.comments.each do |comment| %>
		<p><%= simple_format comment.content %></p>
	<% end %>

	<%= simple_form_for @comment do |f| %>
		<%= f.input :content, label: "위의 내용에 이어서 이야기를 써주세요!" %>
		<%= f.hidden_field :story_id, value: @story.id %>
		<%= f.submit "등록하기", class: "btn btn-default" %>
	<% end %>

	<%= link_to 'Edit', edit_story_path(@story) %> |
	<%= link_to 'Back', stories_path %>
</div>