<!DOCTYPE html>
<html>
<head>
  <title>Relay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Relay", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
